.firstname-label,.lastname-label,.email-label,.password-label{
    display:block;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.register{
    margin-top: 80px;
}

.register-button{
    display: block;
    margin: 20px auto 0;
}

#firstName,#lastName,#email,#password
{
    width:300px;
}
.register-button,.register-login{
    width:100px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
  
}
.register-text{
    margin-top: 10px;
    margin-right: 10px;
    display: inline;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}